*.pyc
.idea/
Downloads/
Logs/
Payloads/
Temp/
Uploads/
configuration/build
var/configuration/build/
var/configuration/requirements.py
var/configuration/st_*.py
var/configuration/st_*.spec
application/Stitch_Vars/st_aes**.*
application/Stitch_Vars/*.ini